@import '../../index';

.primarySize {
    font-size: 3rem;
    font-weight: 700;
    display:inline-block;
    margin-bottom: 1rem;
}

.secondarySize {
    font-size: 2rem;
    display:inline-block;
    margin-bottom: 1rem;

}

.primaryColor {
    color: $color-primary;
}

